@import "~normalize.css";
@import "~@nti/style-common/all.scss";

@import '~@nti/style-common/variables.css';

.context-container {
	margin: auto;
	max-width: 650px;
	width: 100%;
}

.test-kitchen {
	max-width: 764px;
	margin: 0 auto;
	padding: 1rem;
	background: white;
}
