@import "~nti-style-common";

.discussion-selection-search {
	float: right;
	width: 350px;
}

.discussion-selection-topcontrols {
	padding-bottom: 50px;
}

.discussion-selection-course-discussions {
	padding-top: 50px;
}
