@import "~nti-style-common";

.discussion-selection-item {
	cursor: pointer;
	padding: 10px;
	margin-bottom: 3px;
	background-color: white;
	line-height: 3em;
}

.discussion-selection-item-container {
	margin-top: 30px;
}
