@import "~nti-style-common";

.pager {
	font-size: 0.75em;
	height: 20px;
	margin-left: 2px;
}

.prev, .next {
	color: #3fb3f6;
	margin-left: 3px;
	margin-right: 3px;
	cursor: pointer;

	&.disabled {
		color: black;
		cursor: auto;
	}
}
