@import "~@nti/style-common";

.discussion-selection-topic-list {
	min-height: 300px;

	.header {
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 18px;
		font-weight: 600;
		color: var(--primary-grey);
	}

	.no-results {
		position: relative;
		float: left;
	}
}

.discussion-selection-topic {
	cursor: pointer;
	width: 246px;
	height: 200px;
	background: white;
	margin: 0 10px 10px 0;
	position: relative;
	float: left;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.28);

	&.selected {
		outline: solid 2px var(--primary-blue) !important;
	}

	.discussion-selection-topic-title {
		color: var(--primary-grey);
		font: normal 300 26px "Open Sans Condensed", sans-serif;
		font-stretch: condensed;
		padding: 4px;
		padding-top: 3px;
		text-overflow: ellipsis;
		overflow: hidden;
		margin-top: 120px;
		background-color: white;
		width: 246px;
		height: 80px;
		@include limit-lines($lines: 2, $line-height: 1.54);
	}

	.discussion-selection-avatar {
		float: left;
		position: absolute;
		height: 120px;
		width: 246px;
		background-repeat: no-repeat;
		background-size: cover;
	}
}
