.note-sidebar > :global(.empty-state-component) {
	background: #ededed;
	color: var(--secondary-grey);
	margin: 0;
	border-radius: 3px;
}

.note-sidebar.fill {
	overflow: auto;
	padding-bottom: 18px;
}

.note-sidebar.sticky {
	position: sticky;
	top: var(--note-sidebar-sticky-top, 0);
}

.note-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.note-list > li {
	overflow: hidden;
}

.note-list > li:not(:last-of-type) {
	margin: 0 0 2px;
}

.note-list > li:first-of-type {
	border-radius: 0 3px 0 0;
}

.note-list > li:last-of-type {
	border-radius: 0 0 3px 0;
}

.note-list > li:first-of-type:last-of-type {
	border-radius: 0 3px 3px 0;
}

.header {
	background: white;
	line-height: 57px;
}
