.sharing-inline-display {
	display: inline-block;
	color: var(--secondary-grey);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;

	&.trigger {
		cursor: pointer;

		& .trigger-icon {
			margin-left: 0.5rem;
		}
	}

	& .sharing-loading {
		display: inline-block;
		width: 10rem;
		height: 1rem;
		margin: 0.5rem 0;
		background-color: var(--tertiary-grey);
	}

	& .sharing-list {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
	}

	& .icon {
		margin-right: 0.3rem;
	}
}