@import '~@nti/style-common';

.forum-item-li {
	border-bottom: 1px dotted #d8d8d8;

	.forum-link {
		padding: .2rem 0 .2rem 0.9375rem;
		display: block;

		@include responsive-range(mobile) {
			padding: .625rem 0 .625rem 0.9375rem;
		}

		&.active {
			background: #3fb3f6;
			box-shadow: inset 3px 0 0 0 #107eed;
			.item-container {
				.item-main {
					.title {
						color: white;
					}

					.meta {
						color: white;
					}
				}

				.forum-item-edit {
					color: white;
				}
			}
		}
	}

	.item-container {
		display: flex;
		flex-direction: row;

		.item-main {
			flex-grow: 1;

			.title {
				display: block;
				font-size: rem-calc(14px);
				color: var(--primary-grey);
				font-family: "Open Sans Condensed";
				font-weight: 600;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 200px;
				white-space: nowrap;

				@include responsive-range(mobile) {
					font-size: 1rem;
				}
			}

			.meta {
				font-size: .75rem;
				display: block;
				color: $tertiary-grey;
				font-family: 'Open Sans';
				font-weight: 600;

				@include responsive-range(mobile) {
					padding: .5rem 0;
				}
			}
		}

		.forum-item-reports {
			display: none;
			justify-content: center;
			align-items: center;
			padding: 0 rem-calc(5px);
			color: #ddd;
		}

		&:hover {
			.forum-item-reports {
				display: flex;
			}
		}
	}
}
