@import '~@nti/style-common';

.discussion-forum-list {
	.bin {
		h2.bin-title {
			margin: 0;
			padding: 0.5rem 0.9375rem;
			font: normal 400 1.5rem/1.3 var(--legacy-header-font-family);
			color: var(--secondary-grey);
		}

		> ul.forum-board-list {
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}
