@import '~@nti/style-common';

.discussion-forum-list {
	ul.forum-board-list {
		li.board {
			> h3.board-title {
				padding-left: 0.9375rem;
				padding-right: 0.9375rem;
				line-height: 2.3;
				font-size: rem-calc(10px);
				background: #fafafa;
				font-weight: 600;
				box-shadow: inset 0 1px 0 0 #efefef, inset 0 -1px 0 0 #efefef;
				color: #757474;
				text-transform: uppercase;
				font-family: 'Open Sans';
				margin: 0;

				@include responsive-range(mobile) {
					font-size: 0.6rem;
				}
			}
		}
	}

	ul.forum-item-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

