@import '~@nti/style-common';

.forum-item-li {
	padding: .625rem 0 .625rem 0.9375rem;
	border-bottom: 1px dotted #d8d8d8;

	&:last-child {
    	border-bottom: none;
	}

	.title {
		display: block;
		font-size: 1rem;
		color: $primary-grey;
		font-family: "Open Sans Condensed";
		font-weight: 600;
	}

	.meta {
		font-size: .75rem;
		display: block;
		color: $tertiary-grey;
		padding: .5rem 0;
		font-family: 'Open Sans';
		font-weight: 600;
	}
}
