.action-username {
	display: flex;
	flex-direction: row;
	font-style: normal;
	white-space: nowrap;
}

.action-username :global(a.username),
.container-title {
	color: #49758e;
	font-weight: 600;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	text-overflow: ellipsis;
	flex: 0 1 auto;
}

.action-username :global(a.username) {
	margin-right: 0.15em;
	flex-shrink: 0;
	max-width: 50%;
}

.container-title {
	margin-left: 0.15em;
}

.discussion-item-action-label {
	max-width: 100%;
	overflow: hidden;
	color: var(--primary-grey);
}
