@import '~@nti/style-common';

.discussuion-context-markupframe {
	border: 1px solid $border-grey;
	overflow: hidden;

	&.bare {
		border: none;
	}

	&.loading {
		visibility: hidden;
	}

	.bar {
		border-top: 1px solid $border-grey;
		padding: 10px;
		background: $panel-background;

		.image-caption,
		.image-title {
			line-height: 1.3;
			font-size: 1em;
			font-weight: 600;
			color: var(--primary-grey);
		}

		.image-caption {
			font-size: 0.875em;
			font-weight: normal;
			color: $secondary-grey;
		}

		// .bar-cell {}

		a.bar-cell {
			border-left: 1px solid $border-grey;
		}
	}

	&.card {
		overflow: hidden;
		border: 0;

		a.content-link.related-work-ref {
			height: 100%;
			padding: 15px 0 0 165px;

			.file-type.icon {
				background-size: cover;
				width: 152px;
				height: 100%;
			}
		}

		img[id], .bar {
			//This is for anchors
			visibility: hidden;
			position: absolute;
			top: 0;
		}
	}
}
