.post-list-item {
	display: block;
	box-shadow: 0 -1px 0 0 var(--border-grey-light);
	background: white;
	position: relative;
}

.content {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

.pinned {
	display: block;
	padding: 5px var(--side-padding, 0.625rem);
	font-size: 0.87rem;
	line-height: 1.3;
	color: var(--secondary-grey);
}

.avatar {
	width: 80px;
	height: 80px;
	flex: 0 0 auto;
}

.meta {
	flex: 1 1 auto;
	padding: 0.625rem 4.5rem 0.1rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	overflow: hidden;
}

.meta .list-item-action {
	font-size: 0.75rem;
	line-height: 1.3;
	display: block;
	width: 100%;
	/*text-transform: uppercase;*/
}

.meta .title,
.meta .body-preview {
	display: inline-block;
	flex: 1 1 auto;
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--primary-grey);
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.meta .list-items {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.3;
	color: var(--tertiary-grey);
}

.post-list-item :global(.charms) {
	top: 0px;
}

.post-list-item :global(.charms .like) {
	margin: 4px 2px 0;
}

.list-report {
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 var(--side-padding, 0.625rem) 0.3125rem;
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
}

:global(.no-touch) .post-list-item {
	--inactive-charm-visibility: hidden;

	& .list-report {
		visibility: hidden;
	}
}

:global(.no-touch) .post-list-item:hover {
	--inactive-charm-visibility: visible;

	& .list-report {
		visibility: visible;
	}
}
