.discussion-viewer {
	background: white;

	--discussion-padding: 1rem;
	--discussion-horizontal-padding: calc(1.5 * var(--discussion-padding));
	--discussion-vertical-padding: calc(2 * var(--discussion-padding));

	&.dialog {
		width: 100vw;
		max-width: 780px;
		overflow: hidden;
	}
}