.discussion-viewer {
	background: white;

	--discussion-horizontal-padding: var(--side-padding, 1rem);
	--discussion-vertical-padding: calc(2 * var(--side-padding, 1rem));

	&.dialog {
		width: 100vw;
		max-width: 780px;
		overflow: hidden;
	}
}