@import '~@nti/style-common';

.forum-editor {
	height: 200px;
	width: 400px;

	@include responsive-range(mobile) {
		height: 100%;
		width: 100%;
	}

	input.nti-text-input.forum-title {
		width: 100%;
	}

	.save-cancel-content {
		padding: 1rem;
	}

	.error {
		color: var(--primary-red);
		padding: 1.25rem;
	}
}
