.sharing-pills {
	list-style: none;
	padding: 0;
	margin: 1rem 0;

	& li {
		display: inline-block;
		vertical-align: middle;
		margin-right: 0.3rem;
	}
}

.sharing-pill {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	padding: 0.25rem 0.5rem;

	background: #caeafc;
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.3;
	color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;

	&.group {
		background: #c9eacd;
	}

	&.only-me {
		background: #fccfcf;
	}

	&.locked {
		background: #e6e6e6;
		color: var(--primary-grey);
	}

	& .icon {
		font-size: 1rem;
		margin-right: 0.25rem;
	}

	& .remove {
		font-size: 1rem;
		cursor: pointer;
	}
}

.nested-pills {
	list-style: none;
	padding: 0;
	margin: 0;

	& .sharing-pill {
		display: flex;
		background: none;

		& :global(.username) {
			flex: 1 1 auto;
		}

		& .icon {
			display: none;
		}
	}
}