
.comments-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0 var(--side-padding, 1rem) var(--side-padding, 1rem);
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--secondary-grey);

	& .add-comment {
		color: var(--primary-blue);
	}
}

.comments-pager {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
	flex-direction: row;
	align-items: center;

	& li {
		color: var(--primary-blue);
		padding: 0 0.625rem;
		cursor: pointer;

		&.current {
			font-weight: 700;
			text-decoration: underline;
		}

		&:first-of-type {
			padding-left: 0;
		}

		&:last-of-type {
			padding-right: 0;
		}
	}
}

.comments-container {
	border-top: 1px solid var(--border-grey-light);
	background: var(--panel-background);
}

.comment-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.discussion-comment {
	padding: calc(0.5 * var(--side-padding, 1rem)) 0;
	border-bottom: 1px solid var(--border-grey-light);

	&.expanded {
		box-shadow: inset 3px 0 0 var(--primary-blue);

		& > .discussion-comment.expanded {
			box-shadow: none;
		}
	}

	& .reply-tree {
		list-style: none;
		margin: 0;
		padding: 0;

		& .comment-display {
			margin-left: calc(6 * var(--side-padding, 1rem));
		}

		& .comment-editor.reply {
			margin-left: calc(7 * var(--side-padding, 1rem));
		}

		&.depth-4 > li {
			& > .comment-display {
				margin-left: calc(5 * var(--side-padding, 1rem));
			}

			& > .comment-editor.reply {
				margin-left: calc(6 * var(--side-padding, 1rem));
			}
		}

		&.depth-3 > li {
			& > .comment-display {
				margin-left: calc(4 * var(--side-padding, 1rem));
			}

			& > .comment-editor.reply {
				margin-left: calc(5 * var(--side-padding, 1rem));
			}
		}

		&.depth-2 > li {
			& > .comment-display {
				margin-left: calc(3 * var(--side-padding, 1rem));
			}

			& > .comment-editor.reply {
				margin-left: calc(4 * var(--side-padding, 1rem));
			}
		}

		&.depth-1 > li {
			& > .comment-display {
				margin-left: calc(2 * var(--side-padding, 1rem));
			}

			& > .comment-editor.reply {
				margin-left: calc(3 * var(--side-padding, 1rem));
			}
		}

		&.depth-0 > li {
			& > .comment-display {
				margin-left: var(--side-padding, 1rem);
			}

			& > .comment-editor.reply {
				margin-left: calc(4 * var(--side-padding, 1rem));
			}
		}
	}
}

:global(.no-touch) .comment-display {
	& .controls,
	& .comment-info .created {
		opacity: 0;
	}

	& .comment-replies .reply {
		color: var(--tertiary-grey);
	}

	&:hover {
		& .controls,
		& .comment-info .created {
			opacity: 1;
		}

		& .comment-replies .reply {
			color: var(--primary-blue);
		}
	}
}

.comment-display {
	position: relative;
	padding: calc(0.5 * var(--side-padding, 1rem)) var(--side-padding, 1rem);

	&.deleted {
		padding-left: calc(var(--side-padding, 1rem) + 30px);

		& .deleted-info {
			font-size: 0.875rem;
			font-weight: 300;
			font-style: italic;
			line-height: 1.5;
			color: var(--primary-grey);
		}
	}

	&.full {
		display: grid;
		grid-gap: 0 calc(0.5 * var(--side-padding, 1rem));
		grid-template-rows: auto auto auto;
		grid-template-columns: 30px 1fr;
	}

	& .controls {
		position: absolute;
		top: 1px;
		right: 0;
	}

	& .identity {
		grid-row: 1 / 1;
		grid-column: 1 / 1;

		& :global(.avatar) {
			width: 100%;
			height: auto;
			border-radius: 30px;
		}
	}

	& .comment-info {
		grid-row: 1 / 1;
		grid-column: 2 / 2;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5;
		color: var(--tertiary-grey);

		& .display-name {
			flex: 0 0 auto;
			display: inline-block;
			color: var(--primary-blue);
			margin-right: 0.3rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		& .in-reply-to {
			flex: 0 0 auto;
			display: inline-block;

			& address {
				font-style: normal;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	& .comment-body {
		grid-row: 2 / 2;
		grid-column: 2 / 2;
	}

	& .comment-replies {
		padding-top: calc(0.5 * var(--side-padding, 1rem));
		grid-row: 3 / 3;
		grid-column: 2 / 2;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5;
		color: var(--tertiary-grey);

		& .comment-count.has-comments {
			color: var(--primary-blue);
			cursor: pointer;
		}

		& .reply {
			color: var(--primary-blue);
			cursor: pointer;
		}
	}
}

.comment-editor {
	--editor-avatar-size: 30px;

	overflow-x: hidden;

	&.reply {
		margin: var(--side-padding, 1rem) var(--side-padding, 1rem);
	}
}
