@import "~@nti/style-common";

.forum-create-form {
	.forum-title {
		width: 50%;
		margin-left: 1.25rem;
		margin-bottom: 0.5625rem;
	}

	.forum-title-label span {
		margin-left: 1.25rem;
	}

	.error {
		color: $primary-red;
		padding: 1.25rem;
	}
}
