@import "~nti-style-common";

.topic-participation-summary-comment {
	display: flex;
	padding: 0.75rem;

	&:hover {
		.navigate i {
			display: inline-block;
		}
	}

	.avatar {
		flex: 0 0 auto;
		margin-right: 10px;
		width: 30px;
		height: 30px;
	}

	.wrap {
		flex: 1 1 auto;

		.meta {
			//the line height centers this row of text with the avatar
			font: normal 400 0.875rem/1.875rem $body-font-family;
			color: $tertiary-grey;

			.username {
				margin: 0 0.5rem 0 0;
			}
		}

		.modeled-content {
			font: normal 400 0.875rem/1.75rem $body-font-family;
			color: $primary-grey;
		}

		.comments {
			font: normal 400 0.875rem/1.75rem $body-font-family;
			color: $tertiary-grey;
		}
	}

	.navigate {
		flex: 0 0 auto;
		position: relative;
		text-align: center;
		width: 1rem;
		color: $primary-blue;

		i {
			position: absolute;
			cursor: pointer;
			bottom: 0;
			display: none;
		}
	}
}
