@import "~@nti/style-common";

.topic-participation-summary-parent-comment {
	border-bottom: 1px solid var(--border-grey-light);
	color: var(--secondary-grey);

	&.expanded {
		.body {
			padding-bottom: 0.75rem;
		}

		i.icon-chevron-right {
			transform: rotate(90deg);
		}
	}

	.header {
		cursor: pointer;
		padding: 0.5rem 0.75rem;
	}

	.username {
		display: inline-block;
		font: normal 400 0.875rem/1.5 var(--body-font-family);
		margin-right: 0.125rem;
	}

	i.icon-chevron-right {
		display: inline-block;
		vertical-align: middle;
		font-size: 0.625rem;
		transition: transform 0.1s;
	}

	.body {
		overflow: hidden;
		transition: max-height 0.5s;
		padding-left: 1rem;

		.body-container {
			padding-left: 0.5rem;
			border-left: 1px solid var(--border-grey);
		}
	}
}
