@import "~nti-style-common";

.topic-participation-summary-participation {
	background-color: $panel-background;

	.header {
		font: normal 400 0.875rem/1rem $body-font-family;
		color: $secondary-grey;
		padding: 0.75rem 1.5rem;
		display: inline-block;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0.75rem 1.5rem;
		}
	}

	.counts {
		display: flex;
		padding: 0.75rem 1.5rem 1.5rem;

		.count {
			flex: 1 1 auto;
			text-align: center;

			.value {
				font-size: 2.25rem;
				font-weight: 300;
				color: $primary-grey;
			}

			.label {
				font-size: 0.625rem;
				font-weight: 600;
				text-transform: uppercase;
				color: $secondary-grey;

			}
		}
	}
}
