@import '~@nti/style-common';

.topic-participation-summary-topic {
	color: var(--primary-grey);
	padding: 1.5rem;
	border-bottom: 1px solid var(--border-grey-light);

	.basic-button {
		cursor: pointer;
	}

	.header {
		display: flex;
		align-items: flex-start;

		h3 {
			flex: 1 1 auto;
			font: normal 300 1.75rem/2.2rem var(--body-font-family);
			margin: 0 0.5rem 1.5rem 0;
		}

		.basic-button {
			flex: 0 0 auto;
			padding-top: 0.6rem;
			padding-bottom: 0.6rem;
		}
	}

	.modeled-content {
		font-size: 0.875rem;
	}
}
