@import "~@nti/style-common";

.topic-participation-summary {
	background-color: white;
	position: relative;//to keep the mask contained
	min-height: 200px;
	box-shadow: 0 0 1px 1px var(--border-grey);
}
