.post-card {
	display: block;
	background-color: white;
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
	cursor: pointer;

	--side-padding: 0.625rem;
}

.post-card :global(.charms) {
	top: -1px;
}

.post-card :global(.charms .like) {
	margin: 0;
	padding: 0 0 0 0.875rem;
}

.footer {
	padding: 0 var(--side-padding, 0.625rem) var(--side-padding, 0.625rem);
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}
;


:global(.no-touch) .post-card :global(.charms .like),
:global(.no-touch) .post-card :global(.charms .favorite),
:global(.no-touch) .post-card .card-report
{
	visibility: hidden;
}

:global(.no-touch) .post-card:hover :global(.charms .like),
:global(.no-touch) .post-card:hover :global(.charms .favorite),
:global(.no-touch) .post-card:hover .card-report,
:global(.no-touch) .post-card :global(.charms .like.active),
:global(.no-touch) .post-card :global(.charms .like.count),
:global(.no-touch) .post-card :global(.charms .favorite.active)
{
	visibility: visible;
}


